body {
    font-family: "Alumni Sans SC", sans-serif;
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
    margin-top: -80px;
    margin-bottom: 40px;
    padding: 0;
    background: #a3a3a3;
    text-align: center;
}

.page {
    padding: 20px;
}

h1 {
    margin-bottom: 50px;
}

.selection-buttons,
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    justify-content: center;
}

.selection-buttons {
    grid-template-columns: repeat(2, 200px); /* increase width */
    gap: 20px;
}

@media (max-width: 600px) {
    .selection-buttons {
        grid-template-columns: 1fr !important; /* single column */
        max-width: 300px; /* optional: constrain max width on mobile */
        margin: 0 auto;
    }
}

.selection-buttons button,
.apt-button button {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding: 12px 20px;
    height: 80px;
    border-radius: 10px;
    background-color: #b5b5b5;
    border: 2px solid white;
    cursor: pointer;
    width: 100%;
    max-width: 100% !important; /* buttons fill container width */
}

.apt-button {
    justify-content: center;
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto 20px;
}

/*Zone buttons*/
.square {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 600;
    width: 100px;
    height: 100px;
    background-color: #c14c00; /* light orange */
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.square.active {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    border-radius: 10px;
    background-color: #873800; /* burnt orange */
    border: 5px solid black;
    color: #4e4e4e;
    transition: 0.5s;
}

.back-button {
    font-family: "Alumni Sans SC", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 80px;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.popping {
    animation: pop 0.3s ease;
}
